@CHARSET "UTF-8";
body{
	background: #f9f9f9;;
	margin:0px;
}
.header{
	padding: 15px;
	background:#F1C40F;
	height: 50px;
}
#iconImg{
margin-left: 70px;
width:55px;
height:55px;
float:left;

} 
.forgotPassword{
	border-top: 1px #d8dee2 solid;
	border-bottom: 1px #d8dee2 solid;
	width: 570px;
	background: white;
	margin-top: 70px;
	margin-left: 420px;
	height: 300px;
	border-radius: 5px;
}
#label{
	margin-left: 50px;
	font-family: "Verdana";
}
#emailId{
	margin-top: 20px;
	margin-left: 50px;
	font-size:15px;
	width: 350px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #ddd;
}
#forgotPassword{
	margin-top: 20px;
	margin-left: 50px;
	height: 30px;
	width: 80px;
	background: #60b044;;
	color: white;
	font-size: 15px;
	border-radius: 5px;
}
.findAccount{
	font-size:25px;
	margin-left:50px;
	font-family: "Verdana";
}
label{
	font-size:15px;
	color: #000000;
	font-family: "Verdana";
}