@CHARSET "UTF-8";
body{
	
	background-image: url('/images/loginBg.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
}

#userName{
	height: 30px;
	width: 350px;
	margin-left: 30px;
	margin-top: 30px;
	border-radius:8px;
	font-size:15px;
}

#password{
	height: 30px;
	width: 350px;
	margin-left: 30px;
	margin-top: 30px;
	border-radius:8px;
	font-size:15px;
}

.col-7{
	position:relative;
	height: 500px;
	width: 400px;
	border: 1px white solid;
	margin-top:70px;
	margin-left: 530px;
}

.header h1{
	color:#10be59;
}
#loginButton{
	height: 40px;
	width: 150px;
	margin-left: 30px;
	background:#ff9d82;
	font-size: 12px;
	font-weight:bold;
	color:#000000;
	border-radius: 15px;
}
#newUser a{
	
	text-decoration:none;
	color:#10be59;
	font-weight:bold;
}

#newUser{
	 font-family: "Verdana";
	 margin-left: 40px;
	 color:white;
	 
}
.forgotPassword{
	
	text-decoration:none;
	color:#ce1616;	
	font-family: "Verdana";
	margin-left: 10px;
	font-weight:bold;
}
